* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #FFFFFF;
}

#calculator {
    background-color: #3c3c3c;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    height: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

#calculator-head {
    margin-top: 10px;
}

#calculator-head h2 {
    font-size: 1.5em;
    color: #555;
    text-shadow:
        -1px -1px 0 #333,
        1px 1px 0 #777,
        2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#calculator-foot p {
    font-size: 1em;
    color: #555;
    text-shadow:
        -1px -1px 0 #333,
        1px 1px 0 #777,
        2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

#display {
    background-color: #1e1e1e;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    font-size: 2em;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    min-height: 100px;
}
#display-history {
    font-size: 0.5em;
    color: #909090;
    text-align: right;
    min-height: 20px;
}
#display-working {
    font-size: 1.6em;
    color: #FFFFFF;
    text-align: right;
    flex-grow: 1;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.numberKey {
    background-color: #505050;
    color: #FFFFFF;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex: 1 1 calc(25% - 10px);
    max-width: 70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.operatorKey {
    background-color: #FF9500;
    color: #FFFFFF;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex: 1 1 calc(25% - 10px);
    max-width: 70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.serviceKey {
    background-color: #d3d3d3;
    color: #333333;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex: 1 1 calc(25% - 10px);
    max-width: 70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#key0 {
    min-width: calc(2 * 70px + 1 * 10px);
}

#keyEqual {
    height: 70px;
}

.numberKey:active, .operatorKey:active, .serviceKey:active {
    transform: scale(0.95);
    background-color: #707070;
}

.operatorKey:active {
    background-color: #FFB14D;
}
.serviceKey:active {
    background-color: #A9a9a9;
}

#app-foot p {
    margin-top: 20px;
}
